*.o
*.a
*.gmo
.deps/
Makefile
Makefile.in
TAGS

/aclocal.m4
/autom4te.cache
/config.h
/config.h.in
/config.log
/config.status
/configure
/stamp-h1

/build-aux/ar-lib
/build-aux/compile
/build-aux/config.guess
/build-aux/config.rpath
/build-aux/config.sub
/build-aux/depcomp
/build-aux/install-sh
/build-aux/missing

/build-aux/snippet/_Noreturn.h
/build-aux/snippet/arg-nonnull.h
/build-aux/snippet/c++defs.h
/build-aux/snippet/unused-parameter.h
/build-aux/snippet/warn-on-use.h

/po/POTFILES
/po/en@quot.insert-header
/po/en@quot.po
/po/messages.mo
/po/remove-potcdate.sed
/po/stamp-po
/po/trader.pot

/src/trader
