Makefile.am			ident
/configure.ac			ident
/build-aux/bootstrap		ident
/build-aux/msgfmt-desktop	ident
/data/trader.desktop.in		ident
/data/trader.svg		ident
/doc/trader.*			ident
/lib/obsolete-strings.c		ident
/lib/xopen_source.h		ident
/m4/xopen_source.m4		ident
/po/LINGUAS			ident
/po/Makevars			ident
/po/POTFILES.in			ident
/src/*.c			ident
/src/*.h			ident
