*.o
.deps/
Makefile
Makefile.in

/aclocal.m4
/autom4te.cache
/config.h
/config.h.in
/config.log
/config.status
/configure
/stamp-h1

/build-aux/depcomp
/build-aux/install-sh
/build-aux/missing

/src/trader
