*.o
*.a
*.gmo
Makefile
Makefile.in
TAGS
.deps/

/.pc/
/aclocal.m4
/autom4te.cache
/config.h
/config.h.in
/config.log
/config.status
/configure
/stamp-h1

/data/trader.desktop

/po/POTFILES
/po/en@quot.insert-header
/po/en@quot.po
/po/messages.mo
/po/remove-potcdate.sed
/po/stamp-po
/po/trader.pot

/src/trader
